<%= render 'shared/header' %>
<h1>新規タスク</h1>
<%= form_for(@task) do |f| %>
  <div><%= f.label :title %></div>
  <div><%= f.text_field :title %></div>
   <div><%= f.label :details %></div>
  <div><%= f.text_area :details %></div>
     <div><%= f.label :image %></div>
  <div><%= f.text_field :image %></div>
  <div><%= f.submit %></div>
<% end %>
<%= link_to '戻る', tasks_path %>